
.delete{
  cursor:grabbing;
}
.formshere{
  display: flex !important;
  justify-content: space-between;
  width:100%;
}  
 @media screen and (max-width:600px ) {
  .formshere{
      flex-direction: column-reverse;
  }

} 
Table{
  margin-top: 10em;
}
th,td{
  text-align: center;
}